You are given 2 tables, the first one is named current_inventory, and contains the current inventory per item. The second table is called location_section_capacity, and contains the warehouse capacity of a given location.

The schemas of the tables are below:

current_inventory

location_id	The unique location code for the warehouse, int
section_id	The unique section id for the warehouse, int
item_id	The ID of the given item in stock, int
item_size	The size of the given item, int
num_items	The number of items currently in inventory, int
location_section_capacity

warehouse_state	The state that the warehouse is in, varchar
location_id	The unique location code for the warehouse, int
section_id	The unique section code for section in the warehouse, int
location_section_capacity	The capacity of the given section, int
Using these two tables, write a SQL query to highlight location sections that have < 50% of the space occupied. To get the amount of space taken up by the item you will need to multiply item_size and num_items. Also note that if a location has no items, it might not show up in current_inventory.

In [1]:
import pandas as pd
import numpy as np
import sqlite3

from random import randrange

In [2]:
def create_connection(db_file):
    """ create a database connection to the SQLite database
        specified by the db_file
    :param db_file: database file
    :return: Connection object or None
    """
    conn = None
    try:
        conn = sqlite3.connect(db_file)
    except Error as e:
        print(e)
 
    return conn

In [3]:
def insert_data():
    conn = create_connection('problem33.db')
    cur=conn.cursor()
    
    insert_current_inventory = '''
        INSERT INTO current_inventory(location_id, section_id, item_id, item_size, num_items)
        VALUES (?,?,?,?, ?)
    '''
    inv_dict = {'location_id':0, 'section_id':0, 'item_id':0, 'item_size':0, 'num_items':0}
    
    
    for i in range(20):
        for key in inv_dict:
            inv_dict[key] = randrange(10)
            print(inv_dict.values())
            cur.execute(insert_current_inventory, tuple(inv_dict.values()))
            
            
    insert_capacity = '''
        INSERT INTO lsc(location_id, section_id, cpacity) VALUES(?,?,?)
    '''
    
    cap_dict = {'location_id':0, 'section_id':0, 'location_section_capacity':0} 
    
    
    for i in range(1,11):
        cap_dict['location_id'] = i
        for j in range(1,11):
            cap_dict['section_id'] = j
            cap_dict['location_section_capacity'] = 30
            
            cur.execute(insert_capacity, tuple(cap_dict.values()))
            
    conn.commit()
    cur.close()
    conn.close()

In [4]:
insert_data()

dict_values([9, 0, 0, 0, 0])
dict_values([9, 2, 0, 0, 0])
dict_values([9, 2, 8, 0, 0])
dict_values([9, 2, 8, 7, 0])
dict_values([9, 2, 8, 7, 0])
dict_values([9, 2, 8, 7, 0])
dict_values([9, 6, 8, 7, 0])
dict_values([9, 6, 6, 7, 0])
dict_values([9, 6, 6, 8, 0])
dict_values([9, 6, 6, 8, 8])
dict_values([8, 6, 6, 8, 8])
dict_values([8, 2, 6, 8, 8])
dict_values([8, 2, 9, 8, 8])
dict_values([8, 2, 9, 8, 8])
dict_values([8, 2, 9, 8, 2])
dict_values([0, 2, 9, 8, 2])
dict_values([0, 0, 9, 8, 2])
dict_values([0, 0, 3, 8, 2])
dict_values([0, 0, 3, 7, 2])
dict_values([0, 0, 3, 7, 9])
dict_values([5, 0, 3, 7, 9])
dict_values([5, 0, 3, 7, 9])
dict_values([5, 0, 9, 7, 9])
dict_values([5, 0, 9, 8, 9])
dict_values([5, 0, 9, 8, 1])
dict_values([7, 0, 9, 8, 1])
dict_values([7, 3, 9, 8, 1])
dict_values([7, 3, 1, 8, 1])
dict_values([7, 3, 1, 8, 1])
dict_values([7, 3, 1, 8, 8])
dict_values([9, 3, 1, 8, 8])
dict_values([9, 6, 1, 8, 8])
dict_values([9, 6, 4, 8, 8])
dict_values([9, 6, 4, 6, 8])
dict_values([9, 6, 4, 6, 5])
dict_values([4, 6, 4, 6, 5])
dict_values([4, 3, 4, 6, 5])
dict_values([4, 3, 9, 6, 5])
dict_values([4, 3, 9, 1, 5])
dict_values([4, 3, 9, 1, 6])
dict_values([0, 3, 9, 1, 6])
dict_values([0, 3, 9, 1, 6])
dict_values([0, 3, 1, 1, 6])
dict_values([0, 3, 1, 2, 6])
dict_values([0, 3, 1, 2, 7])
dict_values([7, 3, 1, 2, 7])
dict_values([7, 9, 1, 2, 7])
dict_values([7, 9, 1, 2, 7])
dict_values([7, 9, 1, 1, 7])
dict_values([7, 9, 1, 1, 5])
dict_values([6, 9, 1, 1, 5])
dict_values([6, 6, 1, 1, 5])
dict_values([6, 6, 3, 1, 5])
dict_values([6, 6, 3, 6, 5])
dict_values([6, 6, 3, 6, 3])
dict_values([5, 6, 3, 6, 3])
dict_values([5, 1, 3, 6, 3])
dict_values([5, 1, 5, 6, 3])
dict_values([5, 1, 5, 8, 3])
dict_values([5, 1, 5, 8, 7])
dict_values([9, 1, 5, 8, 7])
dict_values([9, 7, 5, 8, 7])
dict_values([9, 7, 3, 8, 7])
dict_values([9, 7, 3, 1, 7])
dict_values([9, 7, 3, 1, 6])
dict_values([7, 7, 3, 1, 6])
dict_values([7, 9, 3, 1, 6])
dict_values([7, 9, 9, 1, 6])
dict_values([7, 9, 9, 2, 6])
dict_values([7, 9, 9, 2, 2])
dict_values([1, 9, 9, 2, 2])
dict_values([1, 2, 9, 2, 2])
dict_values([1, 2, 7, 2, 2])
dict_values([1, 2, 7, 0, 2])
dict_values([1, 2, 7, 0, 5])
dict_values([5, 2, 7, 0, 5])
dict_values([5, 6, 7, 0, 5])
dict_values([5, 6, 4, 0, 5])
dict_values([5, 6, 4, 9, 5])
dict_values([5, 6, 4, 9, 9])
dict_values([8, 6, 4, 9, 9])
dict_values([8, 2, 4, 9, 9])
dict_values([8, 2, 7, 9, 9])
dict_values([8, 2, 7, 8, 9])
dict_values([8, 2, 7, 8, 6])
dict_values([5, 2, 7, 8, 6])
dict_values([5, 2, 7, 8, 6])
dict_values([5, 2, 9, 8, 6])
dict_values([5, 2, 9, 1, 6])
dict_values([5, 2, 9, 1, 8])
dict_values([3, 2, 9, 1, 8])
dict_values([3, 2, 9, 1, 8])
dict_values([3, 2, 0, 1, 8])
dict_values([3, 2, 0, 3, 8])
dict_values([3, 2, 0, 3, 4])
dict_values([1, 2, 0, 3, 4])
dict_values([1, 7, 0, 3, 4])
dict_values([1, 7, 6, 3, 4])
dict_values([1, 7, 6, 8, 4])
dict_values([1, 7, 6, 8, 4])

In [36]:
def get_room():
    conn = create_connection('problem33.db')
    
    query = '''
    SELECT * FROM(
        SELECT 
            l.location_id, 
            l.section_id,
            CASE
                WHEN sum(num_items) is NULL then 0.0 
                ELSE 1.0*(sum(item_id*item_size*num_items))/l.cpacity 
            END AS fullness
        FROM
            lsc as l LEFT JOIN current_inventory as c ON l.location_id = c.location_id and c.section_id = l.section_id
        GROUP BY
            l.location_id, l.section_id
        
#         HAVING 1.0*(sum(item_id*item_size*num_items)/l.cpacity) < 0.5
#     '''
    
    df = pd.read_sql(query, conn)
    
    return df

In [37]:
get_room()

    location_id  section_id  fullness
0             1           1  0.400000
1             1           2  2.133333
2             1           3  0.000000
3             1           4  0.000000
4             1           5  0.000000
..          ...         ...       ...
95           10           6  0.000000
96           10           7  0.000000
97           10           8  0.000000
98           10           9  0.000000
99           10          10  0.000000

[100 rows x 3 columns]