In [1]:
import pandas as pd
import numpy as np
import sqlite3

In [2]:
def create_connection(db_file):
    """ create a database connection to the SQLite database
        specified by the db_file
    :param db_file: database file
    :return: Connection object or None
    """
    conn = None
    try:
        conn = sqlite3.connect(db_file)
    except Exception as e:
        print(e)
 
    return conn

In [7]:
def create_tables():
    '''Function to create tables
    Args:
        None
    Returns:
        None
    '''

    conn = create_connection('problem29.db')
    cur = conn.cursor()
    
    query = '''
    CREATE TABLE IF NOT EXISTS user_activity_logs(
    user_id int NOT NULL,
    date DATETIME NOT NULL,
    session_duration int,
    start_timestamp DATETIME DEFAULT CURRENT_TIMESTAMP,
    end_timestamp DATETIME DEFAULT CURRENT_TIMESTAMP
    );
    '''
    
    cur.execute(query)
    
    insert_query = '''
    INSERT INTO user_activity_logs (user_id, date)
    VALUES  (?,?);
    '''
    
    cur.execute(insert_query, (139281, '2019-01-01'))
                
    
create_tables()

OperationalError: table user_activity_logs already exists

In [4]:
conn = create_connection('problem29.db')
df = pd.read_sql('SELECT * FROM user_activity_logs', conn)
df

DatabaseError: Execution failed on sql 'SELECT * FROM user_activity_logs': no such table: user_activity_logs