## You're given a table called userActivityLogs. This table contains data on each time a user opens into Application X. Below is some sample data from this table. You can assume this table has all the historical data one would expect (this table will be large assuming Application X has a number of loyal users).

## Application X defines an active user as one that has opened the application within the last 30 days. Using SQL, can you write a query that outputs users who are inactive? Your output should have userid and the number of days since the last login.

In [1]:
import pandas as pd
import numpy as np
import sqlite3

In [2]:
def create_connection(db_file):
    """ create a database connection to the SQLite database
        specified by the db_file
    :param db_file: database file
    :return: Connection object or None
    """
    conn = None
    try:
        conn = sqlite3.connect(db_file)
    except Exception as e:
        print(e)
 
    return conn

In [10]:
def create_tables():
    '''Function to create tables
    Args:
        None
    Returns:
        None
    '''

    conn = create_connection('problem29.db')
    cur = conn.cursor()
    
    query = '''
    CREATE TABLE IF NOT EXISTS user_activity_logs(
    user_id int NOT NULL,
    date DATETIME NOT NULL,
    session_duration int,
    start_timestamp DATETIME DEFAULT CURRENT_TIMESTAMP,
    end_timestamp DATETIME DEFAULT CURRENT_TIMESTAMP
    );
    '''
    
    cur.execute(query)
    
    insert_query = '''
    INSERT INTO user_activity_logs (user_id, date)
    VALUES  (?,?);
    '''
    
    cur.execute(insert_query, (149281, '2020-03-20'))
    
    conn.commit()
                
    
create_tables()

In [17]:
conn = create_connection('problem29.db')
cur = conn.cursor()
cur.execute("SELECT DATE('now', '-30 day')")
result=cur.fetchall()
print(result)

#df = pd.read_sql('SELECT * FROM user_activity_logs', conn)
#df

[('2020-02-27',)]

In [24]:
def get_inactive_users():
    conn = conn = create_connection('problem29.db')
    
    query = '''
    SELECT 
        user_id, 
        date
    FROM
        user_activity_logs,
        (SELECT DATE('now', '-30 day') as window) as sub1
    WHERE
        date > sub1.window
    '''
    
    inactive_users_df = pd.read_sql(query, conn)
    
    return inactive_users_df

inactive_users_df = get_inactive_users()
inactive_users_df

   user_id        date
0   149281  2020-03-20