In [ ]:
# Company XYZ Human Resource department is trying to understand compensation 
# across the company and asked you to pull data to help them make a decision regarding employee compensation.

# Question: Can you pull the average, median, minimum, maximum, and 
#     standard deviations for salary across 5 year experience buckets at Company XYZ? 
#     (e.g. get the corresponding average, median, minimum, maximum, and standard deviations 
#      for experience buckets 0-5, 5-10, 10-15, etc.)

# You can assume the data is imported into a dataframe named df. 
# Solution will be provided in Python for premium users.

In [1]:
import pandas as pd

In [6]:
df = pd.DataFrame({
    'employee_name':['Bob','Jeff','Joe','Jane','Earl'],
    'employee_id':[1,2,3,4,5],
    'yrs_of_experience':[3,6,3,7,11],
    'yrs_at_company':[2,4,3,5,8],
    'compensation':[70,80,70,75,90],
    'career_track':['technical', 'executive', 'non-technical', 'non-technical', 'technical']
})

In [13]:
# bin by experience
df['experience'] = pd.cut(df['yrs_of_experience'], [0,5,10,15,20], labels = ['low', 'medium', 'highe', 'highest'])
# grouoy by apply
#df.groupby('experience')['compensation'].apply([('mean','mean'),('min','min'),('max','max'), ('std','std')])
df.groupby('experience')['compensation'].describe()

            count  mean       std   min    25%   50%    75%   max
experience
low           2.0  70.0  0.000000  70.0  70.00  70.0  70.00  70.0
medium        2.0  77.5  3.535534  75.0  76.25  77.5  78.75  80.0
highe         1.0  90.0       NaN  90.0  90.00  90.0  90.00  90.0
highest       0.0   NaN       NaN   NaN    NaN   NaN    NaN   NaN