In [1]:
# Filtering student information with Pandas
# Data Analysis Python Pandas Data Manipulation Filtering
# Suppose you have a dataframe, df, with the following records:


# Age	Favorite Color	Grade	Name
# 20	blue	88	Willard Morris
# 19	blue	95	Al Jennings
# 22	yellow	92	Omar Mullins
# 21	green	70	Spencer McDaniel

# The dataframe is showing information about a group of students. Write code using Python Pandas 
# to select the rows where the students' favorite color is blue or yellow and their grade is above 90.

In [2]:
import pandas as pd

In [3]:
df = pd.DataFrame({
    'Age':[20,19,22,21],
    'Favorite Color':['blue', 'blue', 'yellow', 'green'],
    'Grade':[88,95,92,70],
    'Name':['Willar Morris', 'Al Jennings', 'Omar Mullins', 'Spencer McDaniel']
})

In [4]:
df[(df['Grade']>90) & (df['Favorite Color'].isin(['blue', 'yellow']))]

   Age Favorite Color  Grade          Name
1   19           blue     95   Al Jennings
2   22         yellow     92  Omar Mullins

In [ ]:
n b