In [ ]:
# Given the following dataframe, df, drop all the rows where the contract_sign_date is between 2018-09-01
# and 2018-10-13 (inclusive):

In [1]:
import pandas as pd

In [2]:
raw_data = {'vendor_id': [1, 2, 3, 4, 5, 6], 
            'name': ['vendor_schmendor', 'parts_r_us', 'vendor_king', 'vendor_diagram', 'venny', 'vendtriloquist'], 
            'contract_sign_date': ['2018-09-01', '2018-09-03', '2018-10-11', '2018-08-21', '2018-08-13', '2018-10-29'],
            'total_spend' :[34324, 23455, 77654, 23334, 94843, 23444]}

df = pd.DataFrame(raw_data, columns = ['vendor_id', 'name', 'contract_sign_date', 'total_spend'])

In [3]:
df.dtypes

vendor_id              int64
name                  object
contract_sign_date    object
total_spend            int64
dtype: object

In [4]:
df['contract_sign_date']=pd.to_datetime(df['contract_sign_date'])

In [7]:
# drop all the rows where the contract_sign_date is between 2018-09-01
# and 2018-10-13 (inclusive):
df = df.drop(df[(df['contract_sign_date']>='2018-09-01') & (df['contract_sign_date']<='2018-10-13')].index.values)

In [8]:
df

   vendor_id            name contract_sign_date  total_spend
3          4  vendor_diagram         2018-08-21        23334
4          5           venny         2018-08-13        94843
5          6  vendtriloquist         2018-10-29        23444